
.header-container{
	text-align: center;
	background: #FECEA8;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
}

.form-group{
	margin-left: 10px;
	margin-right: 20px;
}

.form-control{
	width:100%;
}

.input-group{
	margin-left:0px;
}

.input-group-container{
	align-self: flex-end;
}

.btn-default{
	margin-left: 25px;
	margin-top: 10px;
}

.container{
	margin-bottom: 20px;
}

.container-chart{
	margin-bottom: 30px;
}

.header-row{
	background: #FECEA8;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}

.data-row{
	border-bottom-style: solid;
	border-bottom-color: #ddd;
	border-bottom-width: 1px;
	min-height: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.data-row:hover{
	background: #ddd;
}